[2019-08-05 14:35] RHagenson opened #4 "Specify `pony-stable` is needed"
Tried building `ponyup` for longer than a care to admit before remembering the Pony package manager is called `stable` and it required by `ponyup`. Perhaps adding this into the Makefile somewhere to install automatically, or in the documentation as a dependency is in order.

[2019-08-05 14:41] RHagenson opened #5 "ponyup-init.sh failing with "Illegal option -o pipefail""
It appears this is failing due to my distro linking `/bin/sh` to `dash`, which does not have the `pipefail` option. Necessary to proceed with an individual workaround or modify the init script itself to accommodate the lack of the option?

[2019-08-05 14:55] SeanTAllen commented on #5
I think that instead of linking to /bin/sh, we should link to /bin/bash.

Thoughts @Theodus?

[2019-08-05 15:47] Theodus commented on #5
@SeanTAllen I intend to test it with a POSIX shell once the builds are up and running. Until then the script does nothing useful

[2019-08-06 18:55] SeanTAllen opened #9 "Switch nightly-builder CI image to release"
We are currently using `ponylang/ponyup-ci-nightly-builder:latest` as `ponylang/ponyup-ci-nightly-builder:release` is from the 0.30.0 ponyc release which can't be used for building static programs on alpine. There was a bug that is fixed and will be in in 0.31.0 (or 0.30.1) whichever it ends up being. Once that docker image is updated `ponyc:release-alpine` and the `ponylang/ponyup-ci-nightly-buil

[2019-08-07 01:50] SeanTAllen opened #10 "Add building ponyup images"
We want:

- `latest` (we should discuss if we want to call this `master`)
- `release`
- `TAG` where `TAG` is something like `0.1.0` for each tagged release

We need to decide for all our applications where the images should be built. Autobuilds on dockerhub that are slow to get done or built on circleci which is much faster but requires a bit more configuration on our part.

[2019-08-08 03:51] SeanTAllen opened #11 "Ponyup tests make assumptions about time and nightly images"
Ponyup tests make assumptions about time and nightly images that might not be true. See for example:

https://circleci.com/gh/ponylang/ponyup/159

That failed because it was looking for a nightly build from "today" that didn't exist because it was run before the nightly image for "today" had been uploaded.

[2019-08-10 14:47] #4 closed

[2019-08-10 14:47] #5 closed

[2019-08-13 16:27] Theodus commented on #10
@SeanTAllen should be open up similar issues on our other application repos like stable/corral? This seems like it needs to be a more general discussion.

[2019-08-13 16:32] SeanTAllen commented on #10
Discussed in zulip. Doing on circleci.

We do need to discuss latest vs master.

[2019-08-20 16:58] #11 closed

[2019-08-25 09:54] Theodus opened #15 "Release 0.1.0"
The release is ready, but should not be announced until the build is updated to the latest version

[2019-08-27 16:59] #15 closed

[2019-10-10 00:16] #9 closed

[2019-10-10 00:20] ponylang-main opened #18 "Add release process"
We need an automated release process for doing ponyup releases.

It should:

* automatically update changelog ala ponyc
* automatically update release notes as we do for libraries
* create the release docker image
* create and upload release artifact to CloudSmith

Ideally, this would all be automated using tags as we do with libraries.

[2019-11-07 01:30] Theodus opened #24 "Improve output of show"
The `show` command output should be enhanced with the following:
1. Mark which of the installed packages are being used
2. List package versions available on Cloudsmith that have not been installed

[2019-11-07 01:32] Theodus opened #25 "Improve documentation in README"
The README should contain more detailed descriptions and examples for the available commands.

[2019-11-07 01:33] SeanTAllen commented on #25
This should be done before we update the ponyc README to direct Linux users to use ponyup to install ponyc.

[2019-11-07 04:34] SeanTAllen opened #27 "Switch CI from CircleCI to GH Actions"
Everything we are doing with CircleCI can be centralized with GH Actions.

Should wait for #26 to be merged otherwise there will end up being conflicts to resolve.

[2019-11-07 20:33] #18 closed

[2019-11-07 20:50] SeanTAllen commented on #10
Partially addressed by #28

[2019-11-07 21:01] SeanTAllen commented on #27
I'm going to do this once #28 is merged.

[2019-11-07 21:10] SeanTAllen opened #29 "Add changelog-tool to managed projects"
It makes sense that people developing their own Pony projects would want to use it. We should install via `ponyup`.

A nightly build is coming soon and a release build will be in Cloudsmith before the end of the month.

[2019-11-07 21:53] #27 closed

[2019-11-08 00:39] #10 closed

[2019-11-09 12:13] SeanTAllen opened #35 "Bring changelog-tool release changes back over here"

[2019-11-09 21:11] SeanTAllen commented on #35
includes improved error messages, more generic and... bug fixes.

[2019-11-09 23:49] #29 closed

[2019-11-09 23:52] SeanTAllen opened #39 "Release 0.2.0"
Holding off on this until #35 is done

[2019-11-10 07:12] SeanTAllen commented on #24
@Theodus do we want to do this before the 0.2.0 release? I think it sounds like a good idea.

[2019-11-12 17:35] #35 closed

[2019-11-16 04:53] Theodus commented on #24
Partially implemented in #45. I'm thinking that `show` should have an option to display the latest package on each channel. So only the most recent nightly and release versions for each package.

[2019-11-18 03:11] #25 closed

[2019-11-20 02:20] Theodus opened #48 "Better Unit Tests"
With some refactoring, we could add some unit tests that mock the data that we require from Cloudsmith to run ponyup.

[2019-11-20 02:21] #24 closed

[2019-11-21 20:20] Theodus commented on #39
We should be good to move forward with this, whenever your ready

[2019-11-21 20:58] #39 closed

[2019-11-26 22:38] jemc opened #50 "Ensure that storage paths conform to relevant platform standards."
This ticket was created out of the following Zulip conversation: https://ponylang.zulipchat.com/#narrow/stream/190367-tooling/topic/Pony.20storage.20locations/near/181969568

Relevant excerpt from my comments there:

---
Regarding the `$HOME/.pony/ponyup` that [it was mentioned that] ponyup is currently using, I'll just mention that it's often considered impolite to litter the home folder with man

[2019-11-26 22:51] SeanTAllen commented on #50
We should do this before we announce ponyup as it would be a breaking change and we'd minimize the impact.

[2019-12-03 17:12] SeanTAllen commented on #50
@Theodus any comments or objections?

[2019-12-03 17:19] Theodus commented on #50
I have no objections to this.

[2019-12-03 18:05] cquinn commented on #50
I like the https://github.com/mfelsche/pony-appdirs package, but think it would be a useful option to allow non-GUI apps on macOS to request Unix-style paths instead of macOS desktop paths. Most command-line users on Mac treat it like the Unix that it is, and would not be happy with tool config files down under `~/Library/Application\ Support/`

Maybe add another option to AppDirs constructor to i

[2019-12-03 18:32] mfelsche commented on #50
Totally doable. Either I do this part in the appdirs repo itself or when included into ponyup. Ehatever works best for you, just hit me up, how you want it. I can do it the way you prefer.

[2019-12-03 20:55] cquinn commented on #50
In the Pony Dev Sync, we also talked about the option of moving pony-appdirs under the ponylang org. What are your thoughts on that? If we did that move (and maybe even if we didn't), we could include pony-appdirs as a submodule in Ponyup, as well as in Corral so that these projects could bootstrap without build-time dependency resolution.

[2019-12-03 20:57] mfelsche commented on #50
This is already done: https://github.com/ponylang/pony-appdirs

One thing though is that in its current form pony-appdirs depends on stable to pull in a dependency, but this can be easily circumvented by copying the dependency into the appdirs source tree if need be.

[2019-12-03 21:47] cquinn commented on #50
Oh, we didn't know about that move during the sync. I wonder what @SeanTAllen thinks about a ponylang repo having dependencies on an outside one. Should we also move that package over to ponylang, or just copy the one file over?

Copying seems easier for now, but maybe we should put together a ponylang package of useful helper code like pony-maybe.

[2019-12-03 21:48] cquinn commented on #50
I'll copy my suggestion comment over to https://github.com/ponylang/pony-appdirs

[2019-12-08 21:43] mfelsche commented on #50
@cquinn I think we are good from the pony-appdirs side.

[2019-12-18 15:39] Theodus commented on #48
This should also include a rewrite of `test.sh` to use `ponytest` and `appdirs`. It would also be nice to avoid having the appdirs path fall out of sync with the prefixes used in `test-bootstrap.sh` and the README. See https://github.com/ponylang/ponyup/pull/51#discussion_r359397375

[2019-12-18 15:41] SeanTAllen opened #52 "Release 0.3.0"
Release once #51 is merged.

[2019-12-18 16:09] #50 closed

[2019-12-18 16:40] #52 closed

[2019-12-20 17:28] superherointj opened #54 "ArchLinux PKGBUILD for ponyup"
I've attempted to create an ArchLinux PKGBUILD for ponyup. It is working, installs "ponyup", sets up PATH, and ponyup is ready for use. But I'd like to receive feedback on it.

The goal was to be able to install `ponyup` by just doing `pacman -S ponyup`. And having a cleaner system because on uninstalling pacman automatically removes all the installed package files.

Repository:
[https://github.co

[2019-12-20 17:45] SeanTAllen commented on #54
YES! This is awesome.

Not sure what you mean, if you would like to maintain a way to do it with pacman, then have at it!

well, the name of the command is ponyup and we refer to it as such. @Theodus I think we want to keep it as ponyup. Do you have an opinion?

It's on you to maintain it. However, I think this is a bad idea and you should using make. It will make maintenance much much easier.

He

[2019-12-20 18:35] Theodus commented on #54
I think it should remain "ponyup".

[2019-12-21 02:07] superherointj commented on #54
Glad to know packaging ponyup for ArchLinux is welcomed.

The AUR team advised me to build ponyup from sources instead of downloading binaries.
ArchLinux AUR requires compiling from sources and does not allow downloading or running a script that downloads and runs remote files for security reasons. PKGBUILD has to follow the ArchLinux AUR philosophy. In this case, ponyup-init.sh is unfit. The PKGB

[2019-12-21 02:20] SeanTAllen commented on #54
@superherointj shall we keep this issue open or is it good to close now?

[2019-12-23 01:14] superherointj commented on #54
ponyup is available at ArchLinux's AUR.
https://aur.archlinux.org/packages/ponyup/
Arch users can:
`yay -S ponyup`
And eventually, hopefully (not available yet): pacman -S ponyup

Used make as suggested, removed the version crap thing, seems better:
https://github.com/superherointj/arch-pkgbuild-ponyup/blob/master/PKGBUILD

Great day!

[2019-12-23 01:14] #54 closed

[2019-12-23 15:41] SeanTAllen opened #55 "Add macOS support"
We now have nightly ponyc builds going into Cloudsmith. (x86-64-apple-darwin). The time is right to add Ponyup support for macOS. This will make control over releases much easier as we won't be relying on a 3rd party distribution tool like homebrew.

[2019-12-23 16:41] Theodus commented on #55
Tracking for [macos branch](https://github.com/ponylang/ponyup/tree/macos)
- [x] Allow Darwin in `ponyup-init.sh`
- [ ] Specify platform OS in `package.pony`
- [ ] Build nightly releases of ponyup for macOS
- [ ] Setup CI for macOS

[2019-12-24 01:08] SeanTAllen commented on #55
@Theodus I added nightly and release build to the `macos` branch.

[2019-12-24 01:15] SeanTAllen commented on #55
@Theodus CI for macOS is setup on the `macos` branch. It runs the bootstrap script as well as `make test`. Please update as you see fit.

[2019-12-26 21:44] #55 closed

[2019-12-27 14:40] SeanTAllen opened #57 "Add mention of --platform to README"
The only time you should need to use --platform right now is if you are on a musl based Linux and are installing ponyc.

`--platform=musl`

[2019-12-27 14:41] SeanTAllen opened #58 "Release 0.4.0"
It's a breaking change release as `--libc` is gone and `--platform` was added.

We can release (and should) as soon as #57 is taken care of.

[2019-12-27 18:32] #57 closed

[2019-12-27 18:51] SeanTAllen commented on #58
Released.

[2019-12-27 18:51] #58 closed

[2019-12-30 19:10] Theodus opened #61 "Remove temporary musl script and ifdefs for macOS tests"
https://github.com/ponylang/ponyup/pull/60#issuecomment-569762164

[2019-12-30 23:56] SeanTAllen commented on #61
What are the criteria for when the `ifdefs` can be removed? 2 macOS releases?

[2019-12-30 23:57] SeanTAllen opened #62 "Add Windows support"
Ponyup should work on Windows.

As part of this, I think we want to move from our current Makefile to something CMake based that can support all platforms (like we are currently doing with ponyc).

@kulibali I'm going to ping you about what a switch to Cmake would entail.

[2019-12-31 13:32] Theodus opened #65 "Automatically select new version on update"
Currently the user is required to use the `select` command to switch to new packages installed with `update`. This selection should automatically be done if the user already has the most recent package version for the channel being updated.

[2019-12-31 13:36] Theodus opened #66 "Remove command"
There should be a `remove` command to remove previously installed packages. This may also optionally remove all previous versions for a given channel (such as all old nightlies).

[2019-12-31 13:40] Theodus opened #67 "Use consistent path on Unix-like operating systems"
The ponyup root selected by appdirs is not consistent with the location used by `ponyup-init.sh`. This should be fixed, and the temporary fix from #64 should be rolled back.

[2019-12-31 13:44] Theodus commented on #61
1 or more releases will allow the tests to pass. The sync tests select up to the 2 most recent for each package.

[2019-12-31 16:54] #67 closed

[2019-12-31 17:16] SeanTAllen opened #73 "Switch ponyup default setup from nightly to release"
This issue is to track and discuss a change in how the ponyup installation script works. Currently, it installs the latest nightly. This can lead to people getting a broken ponyup that isn't guaranteed to work.

I propose we switch to having it install the latest release rather than nightly. As part of this, we should have 2 bootstraps scripts:

1- that tests using release (and works basically the

[2019-12-31 17:30] SeanTAllen commented on #73
Thinking a bit about this, the nightly bootstrap should mirror how an end-user would end up using ponyup nightly:

- use init script to install the last release of ponyup
- use ponyup to install ponyup nightly
- use ponyup nightly to install other tools (corral, ponyc, etc)

[2019-12-31 17:31] SeanTAllen commented on #73
As part of this change, I think it is reasonable to consider if the bootstrap that uses the release version of ponyup should be installing released versions of ponyc, corral, etc. I think yes.

[2020-01-01 04:25] SeanTAllen opened #75 "Release 0.5.0"
Once macOS support and .platform is fully in place (see #70 and #74), then we want to do a 0.5.0 release.

[2020-01-01 16:46] SeanTAllen commented on #73
@Theodus I think as part of this, we should update the automated release process to change the README to point to the init.sh for the release rather than using master.

[2020-01-01 19:54] SeanTAllen opened #77 "Colorize important messages from ponyup-init.sh"
At the moment, there is a lot of output and important messages like "unable to determine libc" and "add this to your PATH" are easy to miss.

We should colorize them to make them stand out more. I would say red for errors, and some other color (blue?) for the informational PATH message.

[2020-01-02 16:15] SeanTAllen commented on #73
ponyup-init.sh portion of this was solved by #78.

[2020-01-02 16:31] SeanTAllen commented on #75
#79 needs to be merged then we can do 0.5.0 release.

[2020-01-02 16:36] #73 closed

[2020-01-02 16:44] SeanTAllen commented on #75
released.

[2020-01-02 16:44] #75 closed

[2020-01-02 16:45] SeanTAllen opened #80 "Release 0.5.1"

[2020-01-03 16:55] #77 closed

[2020-01-05 21:57] superherointj opened #84 "PonyUp 0.5.0 on select errors"
1) On ponyup 0.5.0, on select no matter which package version is selected it errors as
**"error: cannot select package ponyc-release-latest-x86_64-linux-gnu, try installing it first"**

See logs:
[code]

2) `ponyup show ponyc` only works after downloading a package, it won't list all versions available before download. Is it expected?

3) As I have packaged ponyup for Arch Linux, on uninstalling p

[2020-01-05 22:04] #84 closed

[2020-01-05 22:05] SeanTAllen commented on #84
can you please break this into 3 separate issues?

[2020-01-05 22:06] superherointj commented on #84
I made a mistake. Sorry. I used wrong syntax. I closed it myself.

[2020-01-05 22:07] Theodus commented on #84
Hi @superherointj. `ponyup select` is currently unable to determine the `latest` version. So for now, using `ponyup select ponyc nightly-20191231` will select the latest version you have installed. I'll open an issue for this since it would be nice to have select determine the latest installed version

[2020-01-05 22:07] superherointj commented on #84
Thanks Theodus.

[2020-01-05 22:11] Theodus opened #85 "Select fails on `latest` version"
Select only works when the full version number is given. The select command should be modified to search the lockfile and choose the highest version number available.

See #84 for context.

[2020-01-05 22:19] superherointj opened #86 ""show" command timeout doesn't work"
Currently "ponyup show ponyc" blocks if ponyc is not already installed. As an user, I was expecting it to return the channel versions available.
It only stops blocking after downloading some version of application, would be nice if it listed all version channels available for application (before downloading) instead.

To reproduce blocking behavior,  try deleting the ~/.local/shared/ponyup/ folder

[2020-01-05 22:23] superherointj opened #87 "On uninstalling ponyup should ".local/shared/ponyup" be deleted?"
As I have packaged ponyup for Arch Linux, on uninstalling ponyup, should ".local/shared/ponyup" be deleted?

[2020-01-05 22:29] SeanTAllen commented on #86
I believe the correct thing to do here would be to return nothing if no package is available.

[2020-01-05 22:30] SeanTAllen commented on #87
I don't think this is a ponyup issue. I think this is an Arch packaging issue. I would suggest you investigate what other Arch packages do and conform to the expectations that Arch users might have.

[2020-01-05 22:32] SeanTAllen commented on #86
This should be reproducible by doing `ponyup show ponyc` before installing any version of ponyc.

[2020-01-05 22:34] SeanTAllen commented on #86
@superherointj I'm unable to reproduce this.

[2020-01-05 22:41] SeanTAllen opened #88 "ponyup show ponyup doesn't work after installation"
After doing a fresh install of ponyup, `ponyup show ponyup` doesn't have any output. I had to run `ponyup update ponyup release` to install the 0.5.0 version before it would display any output. Note, that that is the same version that the installation process installs.

[2020-01-05 22:43] superherointj commented on #87
Ok, thanks.

[2020-01-05 22:43] #87 closed

[2020-01-05 22:47] superherointj commented on #86
Right. I'll close this.

[2020-01-05 22:50] SeanTAllen commented on #86
@superherointj rather than closing, I'd rather investigate why it hangs for you. Perhaps I misunderstand "blocks". I assume you mean that it hangs and never returns a result, is that not what you meant?

[2020-01-05 23:00] superherointj commented on #86
I've made several attempts here some failed some succeed. My current hypothesis is a network problem to reach some ponyup server. But it did not return anything it would just block and do nothing and I kept wondering what was happening. My internet is normal this ponyup service is the exception.

[2020-01-05 23:05] SeanTAllen commented on #86
I don't believe show makes a network connection. AFAIK, it only checks the local `.lock` file. @Theodus can you confirm that?

[2020-01-05 23:09] SeanTAllen commented on #86
I would be incorrect, by default, it does indeed make a network call.

[2020-01-05 23:11] SeanTAllen commented on #86
@Theodus The documentation is "The ponyup show command will display the installed package versions" which says to me that it shouldn't need to make a network call. It appears there is some confusion between what the code is doing and the documentation.

Can you clarify what is going on?

[2020-01-05 23:24] superherointj commented on #86
Netstat connection log when blocking:
  x220-arch:54408         server-99-84-27-2:https FIN_WAIT1   2593/ponyup

x220-arch is my hostname.

[2020-01-05 23:32] SeanTAllen commented on #86
@superherointj does it time out after about 5 seconds?

[2020-01-05 23:41] superherointj commented on #86
I see no output in console or any timeout. On netstat, it says the connection is FIN_WAIT1. The application never ends execution and is blocked forever (it seems).

A user on stack overflow said:
FIN_WAIT1 => The application on local machine has closed the connection. Indication of this has been sent to the remote machine.

Suggested reference:
https://www.freesoft.org/CIE/Course/Section4/11.htm

[2020-01-05 23:42] SeanTAllen commented on #86
There's a timeout of 5 seconds on the network call, so at a minimum that isn't working correctly. But from the docs, I don't think it should be making a network call.

[2020-01-05 23:50] Theodus commented on #86
It makes a network call to mark packages that are not the latest versions

[2020-01-05 23:54] SeanTAllen commented on #86
Alright, so I'm going to change this to "timeout doesn't work".

[2020-01-06 14:42] #88 closed

[2020-01-21 19:11] SeanTAllen commented on #62
Symlinking on Windows requires you to have admin-level privileges. In order to support Windows, we will want to replace (on Windows only) the usage of symlinks with copying the binaries in question.

[2020-02-05 02:08] SeanTAllen commented on #80
I'll do a release after #92 is fixed up and merged.

[2020-02-05 03:09] SeanTAllen commented on #80
#92 has been merged; the release is underway.

[2020-02-05 03:14] SeanTAllen opened #94 "Release 0.6.0"

[2020-02-05 03:14] SeanTAllen commented on #80
Release is done.

[2020-02-05 03:14] #80 closed

[2020-03-14 20:45] jdtangney opened #95 "dyld: Library not loaded"
1. Download and install using canonical command, as described in README.md: `curl --proto '=https' --tlsv1.2 -sSf https://raw.githubusercontent.com/ponylang/ponyup/latest-release/ponyup-init.sh | sh`
2. On my box, the download is `ponyup-x86-64-apple-darwin.tar.gz`
3. Try it: `ponyup --help`. This results in
[code]

*EDIT:*
I built `ponyc` from source, then built `pony-stable` from source, and the

[2020-03-14 20:55] SeanTAllen commented on #95
Do you have libressl installed?

[2020-03-15 00:47] SeanTAllen commented on #95
@jdtangney if you are building from source, you can use openssl, which version of openssl gets installed by macports?

[2020-03-15 20:23] jdtangney commented on #95
Wow, thanks for the detailed help! I'll give it another shot.

My MacPorts instal is `OpenSSL 1.1.1d  10 Sep 2019`, so I did as you suggested, and...

[code]

Woohoo. Thanks :-)

[2020-03-15 22:30] SeanTAllen commented on #95
@jdtangney You're welcome. It's what we are here for.

In case you aren't aware, the zulip is a great place to get help with such issues as well.

https://ponylang.zulipchat.com/#

[2020-03-15 22:30] #95 closed

[2020-04-23 02:30] Theodus opened #100 "Instruct the user to set `$CC` for linker"
Prebuilt Pony installs now default to using clang to link Pony programs, so we should make it clear to the user that the `$CC` environment variable will override the default linker.

[2020-04-25 04:36] SeanTAllen opened #101 "Add FreeBSD support"
I believe this is mostly adding in order as we verify everything:

1- PR support for FreeBSD (including bootstrapping)
2- Nightly builds
3- Release builds

Because GitHub actions don't have FreeBSD support, we'll need to use CirrusCI.

[2020-05-03 02:45] SeanTAllen opened #102 "Change macOS actions to not use homebrew to install pony tools"
We can bootstrap them now.

Jobs to update:

- nightlies
- release

[2020-05-03 21:56] SeanTAllen commented on #62
@kulibali this feels like an important step towards getting all our major platforms normalize in how we install etc. are you feeling up to taking this one on?

[2020-05-04 00:32] #102 closed

[2020-05-04 01:06] kulibali commented on #62
Yeah it's next on my list.

[2020-05-04 22:29] SeanTAllen commented on #101
Note... we can't do bootstrapping as part of the PR as it currently stands as it expects X number of things to be available and will fail

[2020-05-04 23:31] SeanTAllen opened #105 "Switch from pony-stable to corral"
As pony-stable is deprecated.

[2020-05-05 17:22] Theodus commented on #61
MacOS test ifdefs removed in #91
Temporary musl script removed in #63

[2020-05-05 17:22] #61 closed

[2020-05-05 19:11] Theodus opened #106 "Add command to set default platform"
A `default` command should be added so that the user may change the default platform for ponyup from a list of options. This will be used by the init script to have the user select rather than trying to guess things like libc implementation.

[2020-05-06 04:04] SeanTAllen commented on #105
#107 has been opened.

[2020-05-06 13:58] #105 closed

[2020-05-10 01:00] Theodus opened #109 "Support alternative Linux distributions"
such as [ponyc-x86-64-unknown-linux-ubuntu18.04](https://cloudsmith.io/~ponylang/repos/nightlies/packages/?q=ubuntu18.04)

[2020-05-10 02:40] SeanTAllen commented on #109
@Theodus are you thinking that we hardcode the alternatives into ponyup and if a new alternative is added, then you have to update ponyc?

I'm thinking 3 options

1. list of alternatives is compiled into ponyup
2. list of alternatives is in a file that can be updated without updating ponyup
3. list of alternatives comes from querying cloudsmith

3. while momentarily appealing seems like a bad idea

[2020-05-10 02:58] Theodus commented on #109
A list of target platforms for setting defaults would likely come from querying Clousmith, since that's how most things are done in ponyup. This issue is primarily concerned with making sure the code for parsing target triples is adapted to work with the new distros in the abi field.

[2020-05-10 02:59] SeanTAllen commented on #109
Doesn't that mean that we are stuck with anything that ever goes in? That seems problematic.

[2020-05-10 03:31] Theodus commented on #109
It can be filtered or ordered by version/date by default, with an option to show all available

[2020-05-10 03:32] SeanTAllen commented on #109
So they could see for example that they can only get up to 0.28.0 and some nightly from the past? I guess that is a place to start and we can see how folks react to that.

[2020-05-10 16:39] Theodus commented on #94
I'd like to include #110, and enhancements for #85, #66

[2020-05-10 16:40] SeanTAllen commented on #94
Agreed. And support for "alternative" distribution installation.

[2020-05-12 03:44] SeanTAllen opened #114 "Merge release scripts"
linux and macOS nightly and release scripts can be merged like did with ponyc to become

- x86-64-nightly.bash
- x86-64-release.bash

[2020-05-12 03:51] SeanTAllen commented on #114
additional complexity that ponyc doesn't have: linux statically links.

[2020-05-12 03:56] SeanTAllen opened #115 "vs-ponyc-master-macos test is using incorrect ponyc"
it should be using nightly.

it's using release.

[2020-05-12 04:38] SeanTAllen opened #116 "make it easier to add new platforms"
right now, you have to touch a number of files in order to add a new platform like FreeBSD.

what would be ideal (even if a little slower) would be to add a single primitive that contains all the information needed for a platform so that you don't need to be touching multiple locations.

[2020-05-12 10:32] Theodus commented on #116
Are you thinking that we should stop trying to map target identifiers to our supported platforms and just make a single table? I'm generally in favor of that at this point, but it would require us to update the table and release ponyup every time a platform is added.

[2020-05-12 10:56] SeanTAllen commented on #116
I'm not completely sure @Theodus. Would having a table impact on the alternative distro work? Were you planning on doing that in a way that wouldn't require an update each time one was added?

[2020-05-12 21:19] aDotInTheVoid opened #117 "dyld: Library not loaded: /usr/local/opt/libressl/lib/libssl.47.dylib"
Currently, brew installs `libcrypto.46.dylib` and`libssl.48.dylib`

However ponyup expects `libssl.47.dylib` and ` libcrypto.46.dylib`. This lead to errors like

[code]

[2020-05-12 21:23] SeanTAllen commented on #117
@aDotInTheVoid which version of macOS are you using?

[2020-05-12 21:40] SeanTAllen commented on #117
Also @aDotInTheVoid can you change this line in your ponyup-init.sh that you downloaded from "releases" to "nightlies" and let me know if you are good.

https://github.com/ponylang/ponyup/blob/master/ponyup-init.sh#L7

[2020-05-13 03:50] SeanTAllen opened #119 "Easier debugging"
This is related to #116. Right now we are using assert_is[OS] etc in tests. The output is meaningless as its the digest of the primitive.

Something like this would be much better and could be used with assert_eq:

[code]

[2020-05-13 09:26] aDotInTheVoid commented on #117
macOS Catilina: l10.15.4 (19E287)
libressl: stable 3.1.1 (bottled), HEAD [keg-only]

Unfortunately, nightly doesn't fix it

<details>
<summary> Full log</summary>

[code]
</details>

[2020-05-13 11:45] SeanTAllen commented on #117
That's odd. I'm guessing that we need to do a brew update to get the latest package definitions. I'll set that up and ping you again in a couple days to test a nightly again.

Thanks for the information @aDotInTheVoid.

[2020-05-15 04:36] SeanTAllen commented on #117
@aDotInTheVoid I got a little sidetracked. On Saturday Eastern US time, can you try the latest nightly and see if it works for you. It will be generated around midnight eastern time and will be ready anytime after that. I think will fix the issue as we should be linking against the latest libressl installed by homebrew at that point.

Thanks for your assistance!

[2020-05-16 01:46] SeanTAllen commented on #117
@aDotInTheVoid scratch that. We have a chicken and the egg problem at the moment.

@Theodus I think we are going to have to install ponyc and corral "the hard way" on macOS in order to work around a dependency problem as we can't run ponyup to install corral with the updated libressl. I could get clever to get around that but I don't think that would help for long.

[2020-05-16 02:03] SeanTAllen commented on #117
@Theodus to address this problem we need to make ponyup on macOS always install the most recent nightly rather than a release.

additionally, we need to tell people if they update libressl that they will need to reinstall the latest ponyup nightly IF brew installs the old ssl (I don't know if it does, that would be shitty, but, we'll find out).

[2020-05-17 13:58] SeanTAllen opened #123 "Update to using release-bot"
I'm holding off on doing the switch until the FreeBSD support PR is merged.

This one is a little different from the others that have been done because as part of the process in `release.yml` before we trigger the announcement, we will need to add a `latest-release` tag that is the same as the tag that triggered our release.

[2020-05-17 21:59] Theodus opened #124 "Enable select test for BSD"
The `select` test requires another release of ponyc with the `freebsd-12.1` versioning scheme. Once another release is out, remove the platform check in https://github.com/ponylang/ponyup/blob/81e3d7f94478637d1b1fa0c53dc6a89c49f71879/test/main.pony#L22

[2020-05-17 22:14] Theodus commented on #101
Closed by #113

[2020-05-17 22:14] #101 closed

[2020-05-17 23:03] #123 closed

[2020-05-18 00:26] SeanTAllen commented on #117
@aDotInTheVoid can you try the latest nightly please?

[2020-05-18 00:40] SeanTAllen commented on #109
@Theodus can this be closed?

[2020-05-18 00:41] SeanTAllen commented on #119
@Theodus I think we can close this, agree?

[2020-05-18 00:42] SeanTAllen commented on #116
How are you feeling about this now @Theodus?

I'd like to leave this open until @kulibali add Windows support and we can his feedback on the current state of things.

[2020-05-18 00:58] Theodus commented on #109
Yes

[2020-05-18 00:58] #109 closed

[2020-05-18 00:59] Theodus commented on #119
Yup

[2020-05-18 00:59] #119 closed

[2020-05-18 01:44] #115 closed

[2020-05-18 09:13] ergl commented on #117
@SeanTAllen had the same issue on Mojave 10.14.6, changing the default repository to "nightlies" fixed the issue for me.

[2020-05-18 10:08] aDotInTheVoid commented on #117
Works for me with lates nightly too (`checksum=6143c010be7dcad9336d1d50735ff07d36104759b7c85d1b8e49a444ef47f9fe`)

Thanks for the fix

[2020-05-18 10:08] #117 closed

[2020-05-18 11:46] SeanTAllen opened #127 "Document ponyup macOS/brew libressl connection"
#117 was caused by this.

macOS, it's all dynamic linking.

`brew install libressl` will periodically change the version it installs as they switch to a newer version of libressl. This is rare, but does happen. When that happens, older versions of ponyup will stop working once libressl is updated.

We need to document the expected error that users would see and tell them to reinstall ponyup via th

[2020-06-20 16:20] #106 closed

[2020-06-20 16:21] SeanTAllen opened #130 "Release 0.5.3"
To get fixes in #129 out.

[2020-06-20 16:25] SeanTAllen commented on #130
release is underway.

[2020-06-20 16:35] SeanTAllen commented on #130
Done

[2020-06-20 16:35] #130 closed

[2020-06-22 00:10] Charlyzzz opened #131 "[macOS] error: unknown command at: 'platform'"
Hey!

Found out that there is no `ponyup platform` command as stated https://github.com/ponylang/ponyup/blob/d450da7a65749a0a09c53bb91bbedc296753c1a9/ponyup-init.sh#L221

Perhaps it's meant to say `ponyup default`?

[2020-06-22 00:31] Theodus commented on #131
Thanks for reporting @Charlyzzz! A fix is on the way.

[2020-06-22 01:09] #131 closed

[2020-07-21 00:41] rhagenson opened #133 "Unify cmd and cmd w/ version"
Because I just sank more time than I should have (reading the docs fixed my issue obviously) can we unify the two types of update to the following form:

Install latest version
[code]

Install specific version
[code]

This is a change from how currently the correct way to do it is to replace `release` with `release-0.33.1` rather than adding an additional piece of information in the form of `0.33.

[2020-07-21 18:11] SeanTAllen commented on #133
This would be a breaking change and the PR should get a CHANGELOG- changed entry.

[2020-07-21 18:25] SeanTAllen opened #134 "Clarify platform options in README"
This should be elevated more to get people to set default if they get an error where their glibc isnt supported. I read it and couldn't remember how it worked and @rhagenson read it and didn't understand fully how it worked.

See some of the later conversation: https://github.com/ponylang/ponyc/issues/3461

[2020-07-21 18:25] Theodus opened #135 "Add find command"
using the Cloudsmith package querying API. This command should return a limited set of the results from Cloudsmith.

[2020-07-22 23:34] rhagenson commented on #135
I propose this command work in the following manner.

`ponyc` and Markdown table formatting used for example. This should work the same for any core Pony tool on Cloudsmith and precise formatting at CLI may change (i.e., no header, tab separated, command separated, whatever makes the most sense following discussion).

## `ponyup find <tool>`

Return the most recent versions in each channel for cur

[2020-07-28 18:40] Theodus commented on #135
@rhagenson that seems good to me.

[2020-08-07 13:58] AlexFischbacher opened #136 "Use XDG_DATA_HOME environment variable as default_prefix instead of hardcoded ~/.local/share"
Title. By default, `XDG_DATA_HOME` is set to ~/.local/share, but allows users to change their system's default location (for example, I have it as `~/bin`). As far as I am aware, macOS and FreeBSD supports setting these variables as well. I am willing to PR to add this if permitted :)

[2020-08-07 14:38] mfelsche commented on #136
Thanks for this suggestion, but this is already handled by using [appdirs](https://github.com/ponylang/appdirs) her: https://github.com/ponylang/ponyup/blob/master/cmd/main.pony#L17

See the corresponding section in the appdirs lib: https://github.com/ponylang/appdirs/blob/master/appdirs/appdirs.pony#L67-L106

[2020-08-07 14:45] SeanTAllen commented on #136
I'm reopening this because XDG_DATA_HOME isn't used in ponyup-init.sh which I think could reasonably be called a bug. So this isn't completely implemented.

I think we want to make sure that ponyup-init.sh is using XDG_DATA_HOME the same as the rest of the actual ponyup binary.

@AlexFischbacher if you would be interested in making that happen, a PR would be welcome.

@mfelsche is correct however

[2020-08-07 19:16] mfelsche commented on #136
Sorry, i was completely unaware of that particulat script.

[2020-08-07 19:20] SeanTAllen commented on #136
@mfelsche quite alright. I almost closed this and was in the process of checking out the script when you closed it.

[2020-08-07 22:24] #136 closed

[2020-08-08 00:48] SeanTAllen commented on #66
Any movement on this? I'm considering when to do the next release.

[2020-08-08 00:48] SeanTAllen commented on #85
Any movement on this? I'm considering when to do the next release.

[2020-08-12 20:02] #85 closed

[2020-08-15 17:20] SeanTAllen commented on #66
@Theodus still on for this sometime before the end of next week?

[2020-08-18 18:39] SeanTAllen commented on #94
Targeting the 21st or 22 for a release.

[2020-08-20 23:06] SeanTAllen commented on #124
@Theodus so we can do this now, yes?

[2020-08-20 23:06] SeanTAllen opened #147 "Release 0.6.1"

[2020-08-20 23:32] Theodus commented on #124
I think so, yes

[2020-08-21 14:13] damon-kwok opened #148 "ponyup error"
OS: CentOS 8.2
Error: selection: error: unexpected selection: ponyc-nightly-x86_64-unknown-linux
[code]
[code]

[2020-08-21 14:26] #148 closed, assigned to nobody

[2020-08-21 14:51] damon-kwok opened #149 "version `GLIBC_2.29' not found (required by ponyc)"
OS: CentOS 8.2 Linux localhost.localdomain 4.18.0-193.14.2.el8_2.x86_64 #1 SMP Sun Jul 26 03:54:29 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
[code]

[2020-08-25 18:43] #94 closed

[2020-08-25 18:43] #149 closed

[2020-08-29 18:33] SeanTAllen commented on #147
Releasing to fix freebsd setup bug.

[2020-08-29 18:33] SeanTAllen opened #158 "Release 0.6.4"

[2020-08-29 18:44] #147 closed

[2020-08-29 18:52] Erk- opened #160 "ponyc not installable on FreeBSD"
Trying to install `ponyc` on FreeBSD 12.1 fails with a error
[code]

I have also tried with other platform strings, though none seems to work.

[2020-08-29 19:24] SeanTAllen commented on #160
@Theodus turning on the select test per #159 demonstrates that we indeed have a bug here. I also am working on a PR #161 to add bootstrap testing on FreeBSD 12.1.

[2020-08-30 14:44] SeanTAllen commented on #158
Release will happen at least 1 day after #159 has been merged and once #161 can pass and has been merged.

[2020-08-30 18:57] SeanTAllen opened #163 "Add Ubuntu 18.04 bootstrap test"
Ubuntu 18.04 is one of our platforms we build packages for, but we don't do any testing for it.

[2020-08-30 18:58] SeanTAllen opened #164 "Add CentOS 8 bootstrap test"
CentOS 8 is one of our platforms we build packages for, but we don't do any testing for it.

[2020-08-30 21:44] SeanTAllen opened #166 "Add Ubuntu 20.04 bootstrap test"
This is mostly the current "ubuntu" test.

However, it should be renamed to "ubuntu 20.04" and use "ubuntu20.04" as the platform.

Once that is done, a new issue should be opened to add bootstrapping for our general glic builds.

[2020-09-01 20:54] #163 closed

[2020-09-05 13:20] #164 closed

[2020-11-08 17:52] justmeforyou opened #171 "/data/factory/newdevice.xml"
content://media/external/downloads/564#id101

[2020-11-08 17:55] kulibali commented on #171
Seems like spam to me.

[2020-11-08 17:55] #171 closed

[2020-12-07 22:34] emilbayes opened #172 "segfault on show and update"
Hi!

Trying out ponyup but getting segfault on `ponyup show` and `ponyup update ponyc release`.

Here's sample output:

[code]

[code]

Here's some debug info:

[code]

[2020-12-07 22:44] SeanTAllen commented on #172
Did you build the ponyup yourself or download a prebuilt version?

[2020-12-07 22:45] emilbayes commented on #172
I downloaded a prebuild version using the installation instructions in the readme. Currently cloning and building ponyc. I can try whatever can help debugging :)

[2020-12-07 23:03] SeanTAllen commented on #172
Hmmm... in that case it wasn't built with the latest pony runtime which does have a bug I need to fix that would also show like this. 0.6.1 ponyup though is from august and predates that.

[2020-12-07 23:04] SeanTAllen commented on #172
Ill try to recreate within the next day or so.

[2020-12-08 17:28] SeanTAllen commented on #172
I tried with ponyup 0.6.1 on an Ubuntu 20.04 based system and had no issue. Whatever is going on isn't "across" the board.

@emilbayes can you run in `ponyup show` with a debugger to see if you can capture any information?

[2020-12-08 18:44] emilbayes commented on #172
Does this help?

[code]

[2020-12-08 19:04] emilbayes commented on #172
Looks like there's no check for this return condition on `os_socket_info`: https://github.com/ponylang/ponyc/blob/1da8604fb6d779083816303c35794d92fbb075b0/src/libponyrt/lang/socket.c#L166-L167

[2020-12-08 19:32] SeanTAllen commented on #172
I'm not sure what you mean by "there's no check on this return condition on `os_socket_info`. Can you clarify?

[2020-12-08 19:34] SeanTAllen commented on #172
@emilbayes do you mean that `os_socket_connect` assumes that `result` will never be NULL? and always calls `freeaddrinfo` with what could be a null pointer?

[2020-12-08 20:26] emilbayes commented on #172
Yea sorry, was getting ahead of myself. That’s exactly what I meant

[2020-12-08 20:28] SeanTAllen commented on #172
@emilbayes I would agree. That's a bug in the runtime and needs to be fixed. Even if it was fixed, you'd still be getting an error. Seems like the cloudsmith servers are simply not reachable/can't get an address for them from your machine. That is my "what is causing that" issue at a "deeper level".

Do you want to create the NULL case not handled issue on the ponyc repo as you identified it or sh

[2020-12-15 19:23] jemc commented on #172
This came up in the sync call today, so I created a short ticket in the ponyc repo here: https://github.com/ponylang/ponyc/issues/3685

Feel free to add more information if needed.

[2021-02-27 00:53] SeanTAllen opened #176 "Add ponydoc to supported programs"
We are in the process of adding a documentation generation tool called `ponydoc`. It's first nightly was uploaded to cloudsmith tonight.

[2021-03-18 20:55] rsms opened #178 "Installation on macOS 10.15 fails with "Unable to determine libc type""
I'm trying to install Pony on macOS 10.15 and it's a bit of a struggle.

When I run `ponyup-init.sh` I get a message "Unable to determine libc type. Pease select one of the following" which shows me options for glibc and musl (though no option for macOS's libc.) If I choose musl or glibc, the init script succeeds, but the resulting ponyup program fails on startup with the message "error: unable to

[2021-03-18 23:21] SeanTAllen commented on #178
Is it an Intel based mac or an m1 based machine?

[2021-03-18 23:23] SeanTAllen commented on #178
Sorry I missed the uname info with cpu.

[2021-03-18 23:34] SeanTAllen commented on #178
Hi @rsms, you can remove lines 194 to 218 from `ponyup-init.sh` and you should be good.

[2021-03-18 23:34] SeanTAllen commented on #178
Or hitting cancel should be fine as well.

[2021-03-18 23:46] SeanTAllen commented on #178
FYI@rsms, based on your output, ponyup should be installed correctly at this point. You should be able to use ponyup to install ponyc now.

[2021-03-18 23:59] SeanTAllen commented on #178
Also @rsms this was an awesome bug report. Thank you.

[2021-03-19 00:43] #178 closed

[2021-03-19 00:45] SeanTAllen commented on #178
@rsms this is fixed on main. a new version of ponyup with the fix will be released shortly. Thanks!

[2021-03-19 16:19] rsms commented on #178
@SeanTAllen Wow! Amazing response and incredibly diligent fix. I don't expect "customer support" or anything like that, so this is really going the extra mile here. I really appreciate it. Thank you!

Confirming that it now works as expected:

[code]

[2021-03-19 16:20] SeanTAllen commented on #178
You're welcome @rsms. Sorry for the initial poor experience.

[2021-03-21 19:43] urijn commented on #172
Got the `Segmentation fault` error

[code]

[code]

[code]

[2021-03-21 19:52] SeanTAllen commented on #172
@urijn which version of ponyup do you have?

[2021-03-21 19:57] SeanTAllen commented on #172
@emilbayes can you verify that with 0.6.2 (which was built with a version of the pony runtime with the bug fixed) that you no longer have this issue?

[2021-03-21 20:00] urijn commented on #172
@SeanTAllen I'm using a prebuild ponyup
[code]

[2021-03-21 20:03] SeanTAllen commented on #172
That's odd. The bug in question should be fixed, perhaps you have a different issue.

Can you run:

`lldb -- ponyup show`

and post the output here?

[2021-03-21 20:18] urijn commented on #172
[code]

[2021-03-21 20:28] SeanTAllen commented on #172
You need to type "run" at the lldb prompt. Sorry, I left that out before.

[2021-03-21 20:29] urijn commented on #172
Sure. I've updated the previous comment.

[2021-03-21 20:32] ergl commented on #172
Can you also type "bt"? That should show the backtrace for the bug.

[2021-03-21 20:36] urijn commented on #172
[code]

[2021-03-21 21:11] ergl commented on #172
Huh, that's odd. I thought we already fixed this issue. I'm not sure what could wrong here.

[2021-03-21 21:25] SeanTAllen commented on #172
@ergl It's using an out of date docker image. It's using `shared-docker-ci-x86-64-unknown-linux-builder-with-ssl` which was deprecated in the fall so it wasn't updated recently. I need to select the correct one to use and then I'll do a new release.

@urijn Thanks for the heads up. This will be fixed before end of day with the 0.6.3 release.

[2021-03-21 21:31] urijn commented on #172
Thank you

[2021-03-21 21:40] #172 closed

[2021-03-21 21:43] SeanTAllen commented on #172
0.6.3 release is underway.

[2021-04-04 19:13] EpicEric opened #184 "`ponyup update` from installation fails with "server unreachable""
Installing ponyup through the provided script and then running `ponyup update` fails as follows:

[code]

Related commands that fetch data from Cloudsmith, such as `ponyup show`, also "fail" (exit code 0):

[code]

This seems to be ~related to OpenSSL 0.9.x being the default~ specific to the binary, since rebuilding `ponyup` ~with the flag `-Dopenssl_1.1.x`~ fixes this issue.

[2021-04-04 19:13] EpicEric opened #185 "Document `ponyup default` in README"
Ideally, for non-default platforms (eg. Linux distros using with glibc < 2.29), users should choose a platform with this command before running `ponyup update` so that all commands use the same platform. The per-command override `--platform` is documented near the bottom of the README and can be easily missed during installation, since it will not fail before actually running `ponyc`; and ideally

[2021-04-04 19:16] EpicEric commented on #185
Also do note that `ponyup default` is mentioned in the README, but specifically when troubleshooting "unable to install `ponyc`". This issue is for when the installation is successfully but later fails due to library mismatches on different platforms.

[2021-04-04 19:33] SeanTAllen commented on #184
Seems like the issue was cloudsmith being down at the time.  So are you saying that something about 0.9 no longer works with cloudsmith?

[2021-04-04 19:36] SeanTAllen commented on #184
@EpicEric I'm running with the version that uses 0.9.x and it works fine for me.

![image](https://user-images.githubusercontent.com/193596/113519639-7efcee80-955b-11eb-81e4-d6d60efabbd4.png)

[2021-04-04 20:07] EpicEric commented on #184
No, sorry. I meant that ponyup doesn't work if the machine has OpenSSL 1.1.x installed instead of 0.9.x:

[code]

[2021-04-04 20:12] SeanTAllen commented on #184
Ponyup is statically linked to ssl, it doesn't use your openssl.

[2021-04-04 20:20] EpicEric commented on #184
You're right. Looking at the release scripts and running `ldd` on the binary, that seems to be the case. So this must be a different problem in action.

[2021-04-04 21:13] SeanTAllen commented on #184
I don't have the issue, could be related to their CDN having issues near you perhaps?

[2021-04-05 14:42] EpicEric commented on #184
While trying to reproduce this issue, I've discovered that it is related to a routing issue on my setup, unrelated to `ponyup`.

[2021-04-05 14:42] #184 closed

[2021-04-14 13:45] #166 closed

[2021-07-03 14:28] #124 closed

[2021-07-03 16:41] Theodus commented on #160
This should be resolved now. Sorry for the delay.

[2021-07-03 16:41] #160 closed

[2021-07-05 19:34] #158 closed

[2021-07-09 01:53] rhagenson commented on #66
Note for whoever works on this, that in addition to removing the corresponding binary's directory we also need to remove the corresponding entry from `.lock`. I just ran into this and needing to remove from `.lock` was not what I expected so wanted to ensure it is noted here.

[2021-07-19 15:42] dlqs opened #191 "ponyup-init.sh on real sh"
Installating ponyup-init.sh doesn't look great with real `sh` (like on freebsd) because the ansi escape codes are printed out literally. Perhaps change the top of the script to #!/bin/bash? Or have seperate instructions for freebsd.

[2021-07-19 15:45] SeanTAllen commented on #191
if its /bin/bash at the top then it won't work on `sh` at all.

[2021-07-19 15:50] Theodus commented on #191
I think there should be a solution in the form of assigning the `DEFAULT`, `BLUE`, `RED`, etc. variables in the script to empty strings if the color escape sequences are not supported by the shell.

[2021-07-19 15:55] SeanTAllen commented on #191
Yeah this is on a per-terminal, not shell basis.

[2021-07-27 18:44] redvers commented on #191
@dlqs - Can you please let us know if you're doing this from console or via a terminal (if so which).
Also - the value of your TERM environmental variable (echo $TERM)

Thanks.

[2021-07-27 19:12] dlqs commented on #191
xterm:
![image](https://user-images.githubusercontent.com/31354724/127213631-a118154a-a8fa-457e-a1f8-1c46f244cd1f.png)

[2021-07-28 15:44] redvers commented on #191
I've installed FreeBSD and have replicated it.  Now trying to understand the delta.
Thank you for the report!

[2021-07-28 16:20] redvers commented on #191
The root of the problem is the way that bash and sh treat the contents of single and double quotes differently by default.

I'm crafting a PR to fix this - thank you :-)

[2021-07-28 18:57] Theodus commented on #191
Resolved by #192

[2021-07-28 18:57] #191 closed

[2021-10-12 13:58] mfirry opened #196 "arm64 release"
Hi and sorry if this is already been asked.

When I run the `ponyup-init.sh` I get `Unsupported CPU type: arm64`.

I'm using a new Apple M1 ARM-based machine.

Thanks.

[2021-10-12 14:01] #196 closed, assigned to nobody

[2021-10-12 16:47] SeanTAllen commented on #196
There's no arm64 support for ponyup at this time as we aren't doing any prebuilt binaries for any arm platforms at this time. If you have additional questions, stopping by the zulip might be best:

https://ponylang.zulipchat.com/

[2021-11-03 14:55] mfirry commented on #196
Hi, something changed recentely I guess (just reading this https://twitter.com/ponylang/status/1455236810750238726)

[2021-11-03 14:59] SeanTAllen commented on #196
There is still no ponyup support for m1. You still have to build from source.

[2021-12-20 00:25] TyR3x123 opened #198 "[Security] Workflow announce-a-release.yml is using vulnerable action actions/checkout"
The workflow announce-a-release.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1)

[2021-12-20 00:25] fockboi-lgtm opened #199 "[Security] Workflow latest-docker-image.yml is using vulnerable action actions/checkout"
The workflow latest-docker-image.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1

[2021-12-20 00:25] Ale0x78 opened #200 "[Security] Workflow nightlies.yml is using vulnerable action actions/checkout"
The workflow nightlies.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix

[2021-12-20 00:25] Ale0x78ButInBinary opened #201 "[Security] Workflow nightlies.yml is using vulnerable action actions/checkout"
The workflow nightlies.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix

[2021-12-20 00:25] Freakston opened #202 "[Security] Workflow pr.yml is using vulnerable action actions/checkout"
The workflow pr.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) upg

[2021-12-20 00:25] akulpillai opened #203 "[Security] Workflow pr.yml is using vulnerable action actions/checkout"
The workflow pr.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) upg

[2021-12-20 00:25] TyR3x123 opened #204 "[Security] Workflow pr.yml is using vulnerable action actions/checkout"
The workflow pr.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) upg

[2021-12-20 00:25] fockboi-lgtm opened #205 "[Security] Workflow pr.yml is using vulnerable action actions/checkout"
The workflow pr.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) upg

[2021-12-20 00:25] Ale0x78 opened #206 "[Security] Workflow pr.yml is using vulnerable action actions/checkout"
The workflow pr.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) upg

[2021-12-20 00:25] Ale0x78ButInBinary opened #207 "[Security] Workflow pr.yml is using vulnerable action actions/checkout"
The workflow pr.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) upg

[2021-12-20 00:25] Freakston opened #208 "[Security] Workflow release.yml is using vulnerable action actions/checkout"
The workflow release.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2

[2021-12-20 00:25] fockboi-lgtm opened #209 "[Security] Workflow release.yml is using vulnerable action actions/checkout"
The workflow release.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2

[2021-12-20 00:25] TyR3x123 opened #210 "[Security] Workflow release.yml is using vulnerable action actions/checkout"
The workflow release.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2

[2021-12-20 01:19] #198 closed

[2021-12-20 01:19] #199 closed

[2021-12-20 01:19] #200 closed

[2021-12-20 01:19] #201 closed

[2021-12-20 01:19] #202 closed

[2021-12-20 01:19] #203 closed

[2021-12-20 01:19] #204 closed

[2021-12-20 01:19] #205 closed

[2021-12-20 01:19] #206 closed

[2021-12-20 01:19] #207 closed

[2021-12-20 01:19] #208 closed

[2021-12-20 01:19] #209 closed

[2021-12-20 01:19] #210 closed

[2021-12-23 01:34] pmetras commented on #86
I have the same behaviour as @superherointj  on linux. `ponyup show` is hang for 2min10s before timing out on my computer. Here is `strace` output when it is blocked in case it helps:
[code]

[2021-12-23 02:00] pmetras commented on #86
And the problem is not limited to the `show` command:
[code]
From what I've briefly looked at the source, the [timeout seems to be set](https://github.com/ponylang/ponyup/blob/6247b39c81c1f2d50737628139d62979fba755a2/cmd/ponyup.pony#L231) only for the `show` command. Writing down to the `link` line takes less than 1 second but then it hangs. Seems more like client and server are not closing correc

[2022-01-04 19:24] jemc commented on #86
This was discussed in the sync call.

Sean says there are two issues with this probably:

:one: it seems the timeouts are not being set correctly in all cases - this should be easier to fix

:two: a much more subtle/rare bug in some user's network setup, which is going to be harder to reproduce and fix.

@redvers has seen this before on his machine with buggy IPv6 from his ISP. He is going to repr

[2022-02-10 21:15] SeanTAllen opened #215 "Release 0.6.6"
Release new version with Windows support. I am going to let at least 1 nightly build go by first to make sure that works before doing a full release.

[2022-02-11 16:07] SeanTAllen commented on #215
@kulibali confirmed the nightly was good.

[2022-02-13 13:56] SeanTAllen commented on #62
Kulibali has implemented this.

[2022-02-13 13:56] #62 closed

[2022-02-13 13:58] SeanTAllen commented on #65
When I do "update" it is setting whatever I update to (assuming a download) to that version.

Does that close this issue @Theodus?

[2022-02-14 00:54] Theodus commented on #65
It does, thanks!

[2022-02-14 00:54] #65 closed

[2022-02-24 02:23] pmetras commented on #86
I confirm the problem with IPv6. My ISP decided to stop providing IPv6 over IPv4 for the type of modem I have last year, but my modem kept a IPv6 address without me noticing. I think that situation created that the IPv6 request failed with timeout before the stack sent a new request with IPv4.

Now everything's fine for me and `ponyup show ponyc` answers in 1 s.

[2022-06-23 03:47] JONBRWN opened #231 "Installation script fails on Asahi Linux"
when running the installation script via:
[code]

The following error is returned:

[code]

OS: Arch Linux ARM 5.17.0-rc7-asahi-next-20220310-5-1-ARCH
ponyc version: 0.49.1-cdd2e4d7

happy to dig into this if pointed in the right direction

[2022-06-23 04:49] SeanTAllen commented on #231
There's currently no prebuilt aarch64 for Linux binaries, thus the error.

All Linux support is x86.

If you are interested in getting aarch64 Linux support working, stop by the CI stream on Zulip and let's chat about what would need to be done.

[2022-06-23 04:49] #231 closed

[2022-10-13 20:35] #86 closed

[2022-11-24 13:33] SeanTAllen opened #237 "ponyup-init.ps1 should allow setting ponyup's `--prefix` option"
To allow users control over where ponyup is installed and where it installs.